<div class="w-auto -m-2 flex justify-center">
  {% component "src/components/alert.njk", {
    color: 'red-600',
    textColor: 'gray-600',
    name: 'Errors',
    text: 'Critical accessiblity errors.'
  } %}
  {% endcomponent %}

  {% component "src/components/alert.njk", {
    color: 'yellow-600',
    textColor: 'gray-600',
    name: 'Warnings',
    text: 'Lesser warnings indicating a flaw.'
  } %}
  {% endcomponent %}

  {% component "src/components/alert.njk", {
    color: 'teal-600',
    textColor: 'gray-600',
    name: 'Notices',
    text: 'Minor infractions that leave room for improvement.'
  } %}
  {% endcomponent %}
</div>
