<div class="card-header bg-transparent">
    <div class="row align-items-center">
        <div class="col">
            <h5 class="h3 mb-0">News & Information</h5>
        </div>
    </div>
</div>
<div class="card-body">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget tortor sagittis, tempor velit at, interdum elit. Duis efficitur eleifend orci eu rhoncus. Nulla fringilla dui eu nisi ultrices pretium. Ut blandit massa et dolor auctor, vitae mollis metus fermentum. Quisque consectetur risus non ante pharetra dignissim. Duis paulvinar arcu et venenatis vehicula. Praesent fermentum enim felis. Duis molestie scelerisque tortor eget sollicitudin. Aenean semper justo leo, non vehicula felis posuere vel.
    </p>
</div>