<div class="card-header bg-transparent">
    <div class="row align-items-center">
        <div class="col">
            <h6 class="text-uppercase text-muted ls-1 mb-1">Add Your Website</h6>
            <h5 class="h3 mb-0">Getting Started</h5>
        </div>
    </div>
</div>
<div class="card-body"><h4>Setting up your first site</h4>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="far fa-circle"></i></span>Add your website to the <a
                href="/account/sites">Sites Page.</a></li>
        <li><span class="fa-li"><i class="far fa-circle"></i></span>Paste the code snippet into your
            website just before <code>&lt;\head&gt;</code>.
        </li>
        <li><span class="fa-li"><i class="far fa-circle"></i></span>You're done! The widget will start
            working instantly.
        </li>
    </ul>
    <h4 class="pt-4">Perform a website accessibility audit</h4>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="far fa-circle"></i></span>Enter a new or existing site via the <a
                href="/account/audits/create">Audit Creation Page</a>.
        </li>
        <li><span class="fa-li"><i class="far fa-circle"></i></span>Allow the scan to finish.</li>
        <li><span class="fa-li"><i class="far fa-circle"></i></span>Scan results will be presented automatically.
        </li>
    </ul>
</div>