<html>
  <head>
    <title>Hello {{ $user['first_name'] . ' ' . $user['last_name'] }}</title>
  </head>
  <body>
    <form action="example.net" method="POST">
      <label for="username">veniam</label
      ><input type="text" id="username" /><label for="password">ratione</label
      ><input type="password" id="password" />
    </form>
    Rerum.
    @isset($config['valid'])
      <p>Valid directive text.</p>
    @endisset

    @isset($config['invalid'])
      <p>Invalid directive text.</p>
    @endisset
    <i>Ipsam pariatur.</i>
  </body>
</html>
