<footer class="footer relative pt-1 container mx-auto px-6">
  <div class="sm:flex">
    <div class="sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
      <div class="flex flex-col">
        <span class="font-bold text-gray-700 uppercase mb-4 md:mt-0 mb-2">Our Mission</span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Awareness</a></span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Access</a></span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Affordability</a></span>
      </div>
      <div class="flex flex-col">
        <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Our Services</span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">WCAG 2.1 Web Design</a></span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">ADA Consultation</a></span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Compliancy Widget</a></span>
      </div>
      <div class="flex flex-col">
        <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Our Company</span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Support</a></span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Our Story</a></span>
        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Reach Out</a></span>
      </div>
    </div>
  </div>

  {% include 'src/partials/divider.njk' %}

  <div class="border-t-2 border-red-700 flex flex-col items-center">
    <div class="flex justify-center my-4">
      <a href="#" class="flex items-center justify-center mr-4 bg-black text-white rounded-full w-8 h-8 no-underline"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="flex items-center justify-center mr-4 bg-black text-white rounded-full w-8 h-8 no-underline"><i class="fab fa-instagram"></i></a>
      <a href="#" class="flex items-center justify-center bg-black text-white rounded-full w-8 h-8 no-underline"><i class="fab fa-twitter"></i></a>
    </div>

    <p class="leading-loose">
      Have questions or need help? <a href="#" class="text-grey-darkest">support@wcasg.com</a>
      <br>
      Click here to stop receiving these messages: <a href="#" class="text-grey-darkest">Unsubscribe</a>
    </p>

    <div class="sm:w-2/3 text-center py-2">
      <p class="text-sm text-blue-700 font-bold mb-2">
        © 2020 WCASG
      </p>
    </div>
  </div>
</footer>
