<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>MY DASHBOARD</h1>
            <h3 class="text-muted font-weight-light">Welcome to the WCASG client area</h3>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col-12 col-lg-6 d-flex align-items-stretch w-100">
            <div class="card w-100">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Add Your Website</h6>
                            <h5 class="h3 mb-0">Getting Started</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <!-- If a user has no Site (enabled or disabled) -->
                        <h4>Setting up your first site</h4>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="far fa-circle"></i></span>Add your website to the <a
                                    href="/account/sites">Sites Page.</a></li>
                            <li><span class="fa-li"><i class="far fa-circle"></i></span>Paste the code snippet into your
                                website just before <\head>. </li>
                            <li><span class="fa-li"><i class="far fa-circle"></i></span>Your done! The widget will start
                                working instantly.</li>
                        </ul>

                        <!-- If a user has never ran an Audit Scan before -->
                        <h4 class="pt-4">Perform a website accessibility audit</h4>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="far fa-circle"></i></span>Enter a new or existing site via the  <a
                                    href="/account/audits/create">Audit Creation Page</a></li>
                            <li><span class="fa-li"><i class="far fa-circle"></i></span>Allow the scan to finish</li>
                            <li><span class="fa-li"><i class="far fa-circle"></i></span>Scan results will be presented automatically.</li>
                        </ul>

                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3 align-items-stretch">
            <div class="row">
                <div class="col-6">
                    <div class="card bg-gradient-primary border-0 centered">
                        <div class="card-body">
                            <h3 class="display text-center">99</h3>
                            <p class="text-center">Bandwidth This Month</p>
                        </div>
                    </div>
                    <div class="card bg-gradient-primary border-0 centered">
                        <div class="card-body">
                            <h3 class="display text-center">99</h3>
                            <p class="text-center">Bandwidth This Month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card bg-gradient-primary border-0 centered">
                        <div class="card-body">
                            <h3 class="display text-center">99</h3>
                            <p class="text-center">Bandwidth This Month</p>
                        </div>
                    </div>
                    <div class="card bg-gradient-primary border-0 centered">
                        <div class="card-body">
                            <h3 class="display text-center">99</h3>
                            <p class="text-center">Bandwidth This Month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Coming Soon</h6>
                    <h5 class="h3 mb-0 text-muted">Website Visitors & Associated Info</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div></div>
                    </div>
                </div>
                <canvas id="chart-bars1" width="3303" height="525" class="chart-canvas chartjs-render-monitor"
                    style="display: block; width: 2202px; height: 350px;"></canvas>
            </div>
        </div>
    </div>
</div>
</div>